<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Mantech</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>AuthFilter</display-name>
    <filter-name>AuthFilter</filter-name>
    <filter-class>filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
    <url-pattern>/technician/*</url-pattern>
    <url-pattern>/employee/*</url-pattern>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>controller.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/user/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleAdd</display-name>
    <servlet-name>ArticleAdd</servlet-name>
    <servlet-class>controller.ArticleAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleAdd</servlet-name>
    <url-pattern>/admin/article/ArticleAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleEdit</display-name>
    <servlet-name>ArticleEdit</servlet-name>
    <servlet-class>controller.ArticleEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleEdit</servlet-name>
    <url-pattern>/admin/article/ArticleEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleDelete</display-name>
    <servlet-name>ArticleDelete</servlet-name>
    <servlet-class>controller.ArticleDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleDelete</servlet-name>
    <url-pattern>/admin/article/ArticleDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FaqAdd</display-name>
    <servlet-name>FaqAdd</servlet-name>
    <servlet-class>controller.FaqAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaqAdd</servlet-name>
    <url-pattern>/admin/faq/FaqAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FaqEdit</display-name>
    <servlet-name>FaqEdit</servlet-name>
    <servlet-class>controller.FaqEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaqEdit</servlet-name>
    <url-pattern>/admin/faq/FaqEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FaqDelete</display-name>
    <servlet-name>FaqDelete</servlet-name>
    <servlet-class>controller.FaqDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaqDelete</servlet-name>
    <url-pattern>/admin/faq/FaqDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CategoryAdd</display-name>
    <servlet-name>CategoryAdd</servlet-name>
    <servlet-class>controller.CategoryAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryAdd</servlet-name>
    <url-pattern>/admin/category/CategoryAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryEdit</display-name>
    <servlet-name>CategoryEdit</servlet-name>
    <servlet-class>controller.CategoryEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryEdit</servlet-name>
    <url-pattern>/admin/category/CategoryEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryDelete</display-name>
    <servlet-name>CategoryDelete</servlet-name>
    <servlet-class>controller.CategoryDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryDelete</servlet-name>
    <url-pattern>/admin/category/CategoryDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>DepartmentAdd</display-name>
    <servlet-name>DepartmentAdd</servlet-name>
    <servlet-class>controller.DepartmentAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentAdd</servlet-name>
    <url-pattern>/admin/department/DepartmentAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentEdit</display-name>
    <servlet-name>DepartmentEdit</servlet-name>
    <servlet-class>controller.DepartmentEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentEdit</servlet-name>
    <url-pattern>/admin/department/DepartmentEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentDelete</display-name>
    <servlet-name>DepartmentDelete</servlet-name>
    <servlet-class>controller.DepartmentDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentDelete</servlet-name>
    <url-pattern>/admin/department/DepartmentDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAdd</display-name>
    <servlet-name>UserAdd</servlet-name>
    <servlet-class>controller.UserAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAdd</servlet-name>
    <url-pattern>/admin/user/UserAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDelete</display-name>
    <servlet-name>UserDelete</servlet-name>
    <servlet-class>controller.UserDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDelete</servlet-name>
    <url-pattern>/admin/user/UserDelete</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>ComplaintAssign</display-name>
    <servlet-name>ComplaintAssign</servlet-name>
    <servlet-class>controller.ComplaintAssign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComplaintAssign</servlet-name>
    <url-pattern>/admin/complaint/ComplaintAssign</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>ComplaintAdd</display-name>
    <servlet-name>ComplaintAdd</servlet-name>
    <servlet-class>controller.ComplaintAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComplaintAdd</servlet-name>
    <url-pattern>/employee/complaint/ComplaintAdd</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ComplaintClose</display-name>
    <servlet-name>ComplaintClose</servlet-name>
    <servlet-class>controller.ComplaintClose</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComplaintClose</servlet-name>
    <url-pattern>/technician/complaint/ComplaintClose</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>RatingAdd</display-name>
    <servlet-name>RatingAdd</servlet-name>
    <servlet-class>controller.RatingAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RatingAdd</servlet-name>
    <url-pattern>/knowledgebase/RatingAdd</url-pattern>
  </servlet-mapping>
</web-app>